.Rproj.user
.Rhistory
.RData
.Ruserdata
db
CBS
output
plaatjes
request

.ipynb_checkpoints/

#/home/daniel/R/landuse/Sentinel_API/R_scripts_for_sentinelhub/world

#data_preparation_CBS_aerial_images/db
data_preparation_CBS_aerial_images/output
#Sentinel_models/db


obj/
bin/
Sentinel_API/api_service/packages
*.userprefs

Sentinel_API/api_service/.vs/
