.Rproj.user
.Rhistory
.RData
.Ruserdata
db
CBS
output
plaatjes

.ipynb_checkpoints/

#data_preparation_CBS_aerial_images/db
data_preparation_CBS_aerial_images/output
#Sentinel_models/db


obj/
bin/
Sentinel_API/api_service/packages
*.userprefs

